---
layout: index
---
    <div class="row content-row">
      <div class="large-12 columns">
          <div class="posts">
            {% for post in site.posts limit: 3 %}
                <div class="post">

                  <header class="post-header">
                    <h1>{{ post.title }}</h1>
                    <p class="meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
                  </header>

                  <article class="post-content">
                  {{ post.content }}
                  </article>
                </div>
                <div class="top">
                    <a class="clickToTop" href="#top">Back</a>
                </div>
            {% endfor %}
        </div>
        <div class="infinite-spinner"></div>
      </div>
    </div>
