---
layout: index
---
    <div class="row content-row">
      <div class="large-12 columns">
          <div class="posts">
            {% for post in site.posts limit: 3 %}
                <div class="post stickyContainer">

                  <header class="post-header stickyHeader">
                    
                    <p class="meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
                    
                    <h1><a href="#{{ post.id }}">{{ post.title }}</a></h1>

                    

                    
                    
                  </header>

                  <article class="post-content">
                  {{ post.content }}
                  </article>
                </div>
                <!-- <div class="top">
                    <a class="clickToTop" href="#top">Back</a>
                </div> -->
                <!-- <p class="postsep">&#9679;&#9679;&#9679;</p> -->
                
            {% endfor %}
        </div>
        <div class="infinite-spinner"></div>
      </div>

      <div class="row footer-row">
        <div class="large-12 columns">
          <footer class="site-footer">
            
          </footer>
        </div>
      </div>

    </div>

  