/* line 1, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* line 7, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.header-row {
  position: fixed;
  z-index: 5;
  max-width: none;
  background: #3a3435 url("/img/skyline-bg.png") repeat-x 0% 100%;
}

/* line 14, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.header-columns {
  padding: 0px !important;
}

/* line 18, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
header.site-header {
  height: 18.1em;
  margin: 0 auto;
  max-width: 62rem;
  text-align: center;
}
/* line 24, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
header.site-header img {
  margin-top: 25px;
}

/* line 30, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.content-row {
  background-color: #282425;
  position: absolute;
  z-index: 10;
  top: 18.1em;
  max-width: none;
}

/* line 38, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.posts {
  max-width: 62rem;
  margin: 0 auto;
}
/* line 42, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.posts .post {
  border-bottom: 1px solid #dadada;
}
/* line 46, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.posts .top {
  text-align: center;
  margin-top: -9px;
}
/* line 50, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.posts .top .clickToTop {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 7px;
  /* margin: 51px; */
  background-color: whitesmoke;
}

/* Infinite spinner */
/*.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}*/
