/* line 6, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
body {
  margin: 0;
  padding: 0;
  font-size: medium;
}
/* line 11, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
body p {
  line-height: 30px;
  font-size: 17px;
  color: #252525;
  /*text-align: justify;*/
  margin: 0 auto;
  padding-bottom: 15px;
  font-family: "Open Sans", sans-serif;
}

/* line 24, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .header-row {
  position: fixed;
  z-index: 5;
  max-width: none;
  background: #3a3433 url("/img/skyline-bg.png") repeat-x 0% 55%;
  background-size: 100%;
  text-align: center;
}
/* line 33, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .header-columns {
  padding: 0px !important;
}
/* line 36, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .header-columns h1 {
  padding-top: 0.5em;
  font-size: 4.4em;
  font-weight: 500;
  color: #e9e7e7;
}
/* line 41, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .header-columns h1 img {
  z-index: 5;
  /*width: 6%;*/
}
/* line 48, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container header.site-header {
  height: 18.1em;
  margin: 0 auto;
  max-width: 62rem;
  text-align: center;
}
/* line 55, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .content-row {
  background-color: #cfc9c9;
  position: absolute;
  z-index: 10;
  /*top: 18.1em;*/
  top: 13.7em;
  max-width: none;
  padding-bottom: 90px;
}
/* line 64, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .content-row h1 {
  color: black;
  text-align: center;
}
/* line 69, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .content-row .posts {
  max-width: 62rem;
  margin: 0 auto;
  margin-top: 1.5em;
}
/* line 74, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .content-row .posts .post {
  max-width: 48em;
  margin-top: 3em;
  margin: 0 auto;
}
/* line 79, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .content-row .posts .post .post-header {
  margin-bottom: 20px;
  border-bottom: 1px dotted;
}
/* line 83, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .content-row .posts .post .post-header.stuck {
  position: fixed;
  top: 0;
  background-color: #cfc9c9;
  width: 100%;
  max-width: 48em;
}
/* line 91, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .content-row .posts .post .post-header h1 a {
  color: black;
  text-transform: uppercase;
  font-size: 90%;
}
/* line 97, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .content-row .posts .post .post-header p.meta {
  color: #686868;
  font-size: 18px;
  text-align: center;
}
/* line 105, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .content-row .posts .post .post-content {
  /*border-bottom: 1px solid rgba(141, 140, 140, 0.7);*/
  padding-bottom: 2.5em;
}
/* line 112, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .content-row .posts .top {
  text-align: center;
  margin-top: -9px;
  padding-bottom: 35px;
}
/* line 117, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .content-row .posts .top .clickToTop {
  border: 1px solid black;
  border-radius: 15px;
  padding: 7px 21px;
  /* margin: 51px; */
  color: #8B8B8B;
  background-color: whitesmoke;
  border-color: whitesmoke;
}
/* line 126, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .content-row .posts .top .clickToTop:hover {
  border-color: #303030;
  color: #CFCFCF;
  background-color: #3a3433;
}
/* line 134, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .content-row .posts p.postsep {
  text-align: center;
  padding: 60px 0px;
  font-size: 1.7em;
}
/* line 144, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .footer-row {
  width: 100%;
  height: 80px;
  background-color: #3a3433;
  position: absolute;
  z-index: 99;
  bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
/* line 154, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/styles.scss */
.container .footer-row .site-footer {
  max-width: 48em;
  border-top: 1px dotted;
}

/* Infinite spinner */
/*.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}*/
@media screen and (max-width: 1024px) {
  /* line 7, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .header-row {
    background: #3a3433 url("/img/skyline-bg.png") repeat-x 0% 61%;
    background-size: 100%;
  }
  /* line 11, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .header-row .header-columns {
    /*height: 1.1em;*/
  }
  /* line 20, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .content-row {
    /*top: 9.1em;*/
  }
  /* line 23, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .content-row .posts .post {
    /*margin: 0px 5px;*/
  }
  /* line 25, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .content-row .posts .post .post-header {
    margin: 0px 5px 20px 5px;
  }
  /* line 29, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .content-row .posts .post .post-content {
    margin: 0px 5px;
  }
}
@media screen and (max-width: 640px) {
  /* line 42, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .header-row {
    position: absolute;
    background: #3a3433 url("/img/skyline-bg.png") repeat-x 0px 157px;
    background-size: 100%;
  }
  /* line 47, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .header-row h1 {
    font-size: 3em;
  }
  /* line 51, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .header-row h1 img {
    width: 35px;
    height: 31px;
    margin-left: 2px;
  }
  /* line 58, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .content-row {
    top: 13.1em;
  }
}
@media screen and (max-width: 480px) {
  /* line 68, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  /* line 74, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body p {
    font-size: 105%;
  }
  /* line 79, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .header-row {
    position: absolute;
    background: #3a3433 url("/img/skyline-bg.png") repeat-x 0px 166px;
    background-size: 100%;
  }
  /* line 84, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .header-row .site-header {
    /*height: 1.5em;*/
  }
  /* line 89, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .content-row {
    top: 13.1em;
  }
}
@media screen and (max-width: 320px) {
  /* line 100, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .header-row {
    position: absolute;
    background: #3a3433 url("/img/skyline-bg.png") repeat-x 0px 103px;
    background-size: 100%;
  }
  /* line 105, /Users/mikkop/Documents/Proj/personal/dobranoc/stylesheets/media.scss */
  body .container .content-row {
    top: 8.5em;
  }
}
