body {
	background: #f2f2f2;
	margin: 0;
	padding: 0;
}

.header-row {
  position: fixed;
  z-index: 5;
  max-width: none;
  background: white;
}

.header-columns {
  padding: 0px !important;
}

header.site-header {
  height: 500px;
  margin: 0 auto;
  max-width: 62rem;
  h1 {
    font-size: 33x;
  }
}


.content-row {
  background-color: #f2f2f2;
  position: absolute;
  z-index: 10;
  top: 14em;
  max-width: none;
}

.posts {
  max-width: 62rem;
  margin: 0 auto;
}

/* Infinite spinner */

/*.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}*/