/* line 4, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
body {
  margin: 0;
  padding: 0;
  background: #3a3435 url("/img/skyline-bg.png") repeat-x 0 127px;
  background-attachment: fixed;
}

/* line 11, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.header-row {
  position: fixed;
  z-index: 5;
  max-width: none;
  background-color: transparent;
}

/* line 19, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.header-columns {
  padding: 0px !important;
}

/* line 23, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
header.site-header {
  height: 18.1em;
  margin: 0 auto;
  max-width: 62rem;
  text-align: center;
}
/* line 29, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
header.site-header img {
  margin-top: 25px;
}

/* line 35, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.content-row {
  background-color: #282425;
  position: absolute;
  z-index: 10;
  top: 18.1em;
  max-width: none;
}
/* line 43, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.content-row .posts {
  max-width: 62rem;
  margin: 0 auto;
}
/* line 47, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.content-row .posts .post {
  border-bottom: 1px solid #dadada;
}
/* line 51, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.content-row .posts .break {
  background-color: transparent;
  z-index: 5;
  height: 200px;
}
/* line 57, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.content-row .posts .top {
  text-align: center;
  margin-top: -9px;
}
/* line 61, /Users/mikkop/Documents/Duuni/Dobranoc/stylesheets/styles.scss */
.content-row .posts .top .clickToTop {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px 7px;
  /* margin: 51px; */
  background-color: whitesmoke;
}

/* Infinite spinner */
/*.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}*/
