---
layout: index
---
<div class="row">
      <div class="large-12 columns">
        <div class="panel">
			<div class="post">

			  <header class="post-header">
			  	<p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
			    <h1><a href="#{{ page.id }}">{{ page.title }}</a></h1>

			    
			  </header>

			  <article class="post-content">
			  {{ content }}
			  </article>

			  <!-- <div class="top">
                    <a class="clickToTop" href="#top">Back</a>
              </div>
              <p class="postsep">&#9679;&#9679;&#9679;</p> -->
			</div>
		</div>
	</div>
</div>